* {
    background-color: rgba(236,243,255,1);
    font-family: "Neue Haas Grotesk Display Pro";
    color: rgba(8,49,96,1);
  }
  
   a:link {
      text-decoration: none;
    }
  
  /*Nav Bar and Header*/
   /*Nav Bar and Header*/
   .nav {
    width: 100%;
    height: 83px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
    z-index: 1;
  }
  img {
    object-fit: contain;
  }
  
  .iconSet {
    overflow: hidden;
    display: inline-flex;
    margin: 10px 0;
    padding: 10px 0;
    width: 200px;
  }
  .iconSet:hover {
        color:rgba(249,115,156,1);
        transition-delay: 100ms;
        transition-duration: 300ms;
  }
  .iconSet a {
    margin: 0 auto;
    width: 40px;
    justify-content: center;
    top: 50%;
    display: inline-block;
  }
  .searchIcon {
    display: inline-block;
  }
  .basketIcon {
    display: inline-block;
  }
  #basketTest {
    width: 40px;
    z-index: 1;
  }
  #basketNum {
    color: #4A91E5;
    font-weight: 500;
  }
  
  .quant{
    outline: none;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 150%;
    width: 10%;
    border: none;
    z-index: 1;
  }
  .title {
    width: 249px;
    color: rgba(8,49,96,1);
    position: absolute;
    top: 8px;
    left: 50%;
    font-family: "Dancing Script";
    font-weight: Bold;
    font-size: 52px;
    text-align: center;
    transform: translate(-50%);
  }
  .navLeft {
    width: 283px;
    height: 43px;
    padding: 8px 78px;
    margin: 24px;
    opacity: 1;
    top: 5px;
    left: 0px;
    overflow: hidden;
  }
  .dogHead {
    width: 55px;
    position: absolute;
    left: 78px;
    color: #F9739C;
    font-weight: bold;
  }
  .catHead {
    color: #4A91E5;
    width: 48px;
    position: absolute;
    left: 157px;
    font-weight: normal;
  }
  .headLink {
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 24px;
    text-align: center;
    top: 32px;
  }
  .headLink:hover{
      color:#F9739C;
      transition-delay: 100ms;
      transition-duration: 300ms;
  }
  
  /* Basic Styling */
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
  }

  .timeline {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 45%;
  }

  .cart-header {
    display: inline-flex;
    justify-content: flex-end;
    margin: auto;
    width: 80%;
  }

  .timelineTop {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 70%;
    flex-direction: row;
    position: relative;
    margin-top: 15%;
    color: rgba(8,49,96,1);
  }

  .timelineBottom {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;

  }

  .filledDot {
    height: 25px;
    width: 25px;
    background-color: rgba(8,49,96,1);
    border-radius: 50%;
    display: inline-block;
  }

  .unfilledDot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid rgba(8,49,96,1);
    stroke-width: 5px;
  }

  .timelineLine {
    width: 35%;
    height: 1px;
    background-color: rgba(8,49,96,1);
    margin-top: 2%;
  }

  .timeLabel {
    font-weight: 500;
  }

  .cartSub {
    font-weight: 400;
    font-size: 1.5em;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
  }

  .timeLabelCurrent {
    font-weight: 600;
    color: #F9739C;
  }
  
  .solidBreak {
    background-color: rgba(8,49,96,1);
    height: 1px;
    width: 80%;
  }

  .product {
    padding-top: 12%;
    width: auto;
    display: inline-block;
    }
  
  .product img {
    width: auto;
  }
  
  .harness {
    padding-left: 5%;
  }
  
  .bagHolder {
    padding-right: 5%;
  }
  
  hr.solid {
    margin-top: 10%;
    height: 600px;
    display: inline-flex;
    width: auto;
    justify-content: space-evenly;
  }
  
  /* Columns */

  .itemCont {
    display: inline-flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }

  .itemImg {
    width: 140px;
    height: auto;
  }

  #tanImg,
  #stwImg,
  #nvyImg,
  #plmImg {
    width: 140px;
    height: auto;
  }

  .itemDetails {
    display: flex;
    flex-direction: column;
    margin: 0%;
    justify-content: center;
    height: 175px;
    font-weight: 400;
  }

  .itemPrice {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    justify-content: flex-start;
    justify-content: space-evenly;
  }

  .removal {
    text-decoration: underline;
    cursor: pointer;
  }

  .removal:hover {
    text-decoration: underline;
    color: #F9739C;
    cursor: pointer;
  }
  
  .shopButton {
    padding-top: 5%;
    justify-content: left;
  }
  
  .prodBtn {
    display: inline-block;
    background-color: rgba(236,243,255,1);
    border: 2px solid #000000;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }
  .prodBtn:hover {
    color: #F9739C;
    border: 2px solid #F9739C;
  }


/* Aligns the list of items in cart to the left */
.cart-body {
	margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  justify-content: space-between;
  width: 80%;
}

/* Display shopping cart item in grid layout */
.cart-item {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
}

.grid-item1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid-item2 {
	grid-column-start: 2;
	grid-column-end: 4;
}

.grid-item3 {
	grid-column-start: 4;
	grid-column-end: 8;
}

.grid-item4 {
	grid-column-start: 8;
	grid-column-end: 9;
}

/* Customizing the shopping cart header */
.cart-item-header {
	font-family: sans-serif;
	color: #000000;
	font-size: 18px;
	font-weight: bolder;
}

/* Customizing the cart description */
.cart-item-material, .cart-item-color {
	font-family: sans-serif;
	color: #000000;
	font-size: 17px;
	font-weight: lighter;
}

/* Customizing the remove labeling */
.cart-remove-item {
	font-family: sans-serif;
	color: #57BEF5;
	font-size: 15px;
	font-weight: lighter;
}

/* Customizing the quantity labeling */
.cart-quantity {
	font-family: sans-serif;
	color: #57BEF5;
	font-size: 18px;
	font-weight: lighter;
}

/* Customizing the price labeling */
.cart-item-price {
	font-family: sans-serif;
	color: #000000;
	font-size: 18px;
	text-align: right;
}

/* Customizing the cart total labeling */
.cart-total {
	width: 60%;
	float: right;
}

/* Splitting the layout of cart total in left and right side */
.cart-total-split {
	display: block;
}

/* Positioning the right side of the cart total */
.cart-total-split span{
	display: block;
	float: right;
	width: 50%;
	text-align: right;
}

/* Customizing the cart description */
.cart-total-description {
	font-family: sans-serif;
	color: #000000;
	font-size: 18px;
	font-weight: lighter;
}

/* Customizing the checkout button */
.cart-button {
	width: 100%;
	background-color: #000000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: lighter;
	border-radius: 4px;
	height: 40px;
}

.strawberry,
.navy,
.plum,
.tan {
  width: auto;
  display: inline-flex;
  justify-content: space-between;
}