/* Document Wide */

* {
    font-family: Montserrat, sans-serif;
  }

  html,
  body {
    background-color: #D2DFEB;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* For the resources headers */
  h3 {
    text-align: center;
  }

  /* Making Bootstrap conform */
  .bg-primary,
  .list-group-flush,
  .list-group-item {
    background-color: #D2DFEB;
  } 

  /* Changing different hero text properties */
  .hero2 {
      font-weight: 800;
      font-size: 3rem;
  }

  .heroL {
    font-weight: 800;
    font-size: 3rem;
}

  .hero1{
    font-size: 3.5rem;
    padding: 300px 0rem 2rem 1rem;
  } 

/*  NO UNDERLINES ALLOWED */
   a:link {
      text-decoration: none;
    }

    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map,
    #elevation_chart {
        height: 50%;
        width: 400px;
    }

    /* Just a wee scooch */
    .content {
        padding-left: 1%;
    }
    /* Setting up vertical and horizontal spacer blocks */
    .spacer {
        width: 5%;
    }

    .breaker {
        height: 8%;
    }
    /* Card guts color */
    .textGutsDes {
        width: 100%;
        color: #7C84C9;
    }

    /* Setting up nav bar elements and colors */
      .navbar {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        background-color: #D2DFEB;
        position: fixed;   
        width: 100%;
        z-index: 1;
    }

/* Setting up fonts and colors and such */
    .navbar-brand {
        font-family: Montserrat, sans-serif;
        color: #439CA1;
        font-weight: 600;
        font-size: 2rem;
    }

    .nav-link {
        font-family: Montserrat, sans-serif;
        color: #439CA1;
        font-weight: 400;
    }

   /*Nav Bar and Header*/
   .nav {
    background-color: #D2DFEB;
    width: 100%;
    height: 83px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
    z-index: 1;
  }
  

  img {
    width: 100%;
  }

  /* Messing with heros some more */
  .jumbotron {
    background-color: #D2DFEB;
    margin: auto;
    padding: 5% 5%;
  }

  /* setting up my text gradient */
  .grad {
    background: -webkit-linear-gradient(#439CA1, #7C84C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Setting up Routes clickable along the bottom of the landing */
  .carousel-caption {
      font-size:1.5rem;
    background: -webkit-linear-gradient(#fff, #82B596);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  /* Footer imagery */
  .hills {
      position: fixed;
      bottom: 0px;
      height: 40%;
  }

  .hills2 {
    position: fixed;
    bottom: 0px;
    height: 20%;
    z-index: 1;
}

/* Content for the Routes page */
.card {
    background-color: #D2DFEB;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    border: none; 
    width: 98%;
    cursor: pointer;
}
.routeCards {
    background-color: #D2DFEB;
    justify-content: center;
    align-items: center;
    border: none;
    width: auto;
    padding-left: 2%;
    
}

.cardDes,
.cardFill {
    color: #439CA1;
}
/* Setting up the rules for the card content. Kind of a strange frankenstein with Bootstrap */
.card-body {
    width: 100%;
    border-radius: 15px;
    background: #D2DFEB;
    box-shadow:  16px 16px 32px #b3bec8, 
                 -16px -16px 32px #f2ffff;
    align-items: center;
    justify-content: space-around;
}
/* Set up highlighted page */
.nav-active {
    font-weight: bolder;
}

/* Setting up responsive breaking for the cards */
@media (min-width: 1025px) {
  .card-body,
  .content {
    display: flex;
    }

    h3 {
      text-align: left;
    }

    #map {
      width: 100%;
    }

    .jumbotron-fluid {
      padding: 2%;
    }
}

/* Set up my mobile conditions, this is mainly for the actual route pages than anything else. */
@media (max-width: 1024px) {
  .hero1,
  .hero3 {
    font-size: large;
    padding: 0%;
  }


  .textGutsDes {
    padding: 0%;
  }

  .jumbotron-fluid {
    padding-bottom: 5%;
    padding-top: 8%;
  }

  .container-fluid {
    justify-content: center;
    padding: 1%;
  }

  .card-title {
    padding-top: 5%;
  }
  
  .heroL {
    font-size: 2rem;
  }

  .hero2 {
    font-size: 1.8rem;
    text-align: center;
  }

  #map {
    width: 100%;
    padding-bottom: 2%;
  }

  #elevation_chart {
    width: auto;
  }
}

/* Images for the Routes page */

.trailPre {
    width: 335px;
    height: 281px;
    border-radius: 15px;
    background: #D2DFEB;
    box-shadow:  16px 16px 32px #b3bec8, 
                 -16px -16px 32px #f2ffff;
}

/*  Button instead of hamburger? Who knows. */
.navbar-toggler {
  background-color: #7C84C9;
}

/* Setting up Elevation Charting on mobile */

#elevation_chart {
  width:100%;
}

#map {
  width: 100%;
  height: 300px;
  background-color: grey;
}